/* dark.css */ 
/* :root { */
    --font-color: #eee;
    --bg-color: #212121;
    
    --link-color:#599ada;
    --link-state-color:#ff5858;
    --link-state-border-color: rgba(238, 54, 54, 0.5);
    
    --thead-bg-color: #343a40;
    --table-border-color: lightgrey;
    
    --nav-bg-color: #242424;
    --nav-link-color: #b6b6b6;
    
    --pre-color: #f8f8f2;
    --pre-bg-color: #212121;
    
    --bq-color: #ccc;
    --hr-color: #333;
    
    --pagination-bg-color: #373737;
    --pagination-link-color: #b6b6b6;
    
    --post-info-color: grey;
    
    --switcher-color: #333;
    --switcher-bg-color: #fff;
    
    --svg-color: #ccc;
    --svg-state-color:#ff5858;
      
      .alert-1-primary {
        background-color: rgba(125, 125, 255, 0.05);
      }
      .alert-1-primary .alert-title {
        color: #7d7dff;
      }
      
      .alert-1-warning {
        background-color: rgba(255, 186, 0, 0.05);
      }
      .alert-1-warning .alert-title {
        color: #ffba00;
      }
      
      .alert-2-success {
        border-left: 4px solid #2ec946;
        background-color: rgba(46, 201, 70, 0.05);
      }
      .alert-2-success .alert-title {
        color: #2ec946;
      }
      
      .alert-2-secondary {
        border-left: 4px solid #dddddd;
        background-color: rgba(221, 221, 221, 0.05);
      }
      .alert-2-secondary .alert-title {
        color: #dddddd;
      }
      
      .alert-3-primary {
        border: 1px solid #fdfdff;
        border-radius: 8px;
        background-color: rgba(125, 125, 255, 0.05);
      }
      .alert-3-primary .alert-title {
        color: #7d7dff;
      }
      
      .alert-3-danger {
        border: 1px solid #ffb8b8;
        border-radius: 8px;
        background-color: rgba(255, 56, 56, 0.05);
      }
      .alert-3-danger .alert-title {
        color: #ff3838;
      }
      
      .alert-content {
        margin: 0;
        font-size: 14px;
        color: #dddddd;
      }
/* } */