{{ $id := .Get "id" }}
{{ $size := default "larger" (.Get "size") }}

{{ $default_expanded := default false (.Get "expanded") }}


{{ $plus := resources.Get "images/plus-light.svg" }}
{{ $minus := resources.Get "images/minus-light.svg" }}


<div id="{{ $id }}" style="margin-bottom: 4px;">
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let theme = (localStorage.getItem('user-color-scheme')) ? localStorage.getItem('user-color-scheme') : 'light';
            let clickable = this.getElementById("{{$id}}-dropdown-title");
            let image = this.getElementById('{{$id}}-hdr-img');
            let content = this.getElementById('{{$id}}-content');
            let plusImg = '{{ $plus.RelPermalink }}';
            let minusImg = '{{ $minus.RelPermalink }}';
            image.src = {{ if eq $default_expanded false }} plusImg {{ else }} minusImg {{ end }};
            if (theme === 'dark') {
                image.style.filter = "invert(0.75)";
            }

            clickable.onclick = function () {
                if (content.classList.toggle("expanded")) { 
                    image.src = minusImg;
                } else { 
                    image.src = plusImg; 
                }
            };
        });
    </script>
    <div id="{{ $id }}-dropdown-title" style="margin-block: 8px;">
        <span style="display: inline-flex; margin-inline: 8px;">
            <img style="width: 12px; height: 12px;" id="{{$id}}-hdr-img" class="js-display" />
        </span> 
        <span style="display: inline-flex; font-weight: bold; font-size: {{ $size }}; line-height: 1.0">{{ .Get "title" | htmlUnescape | markdownify }}</span>
    </div>

    <hr>

    <div class="expand-container">
        <div class="expandable {{ if eq $default_expanded true }} {{ "expanded" }} {{ end }}" id="{{ $id }}-content" >
            {{ .Inner | markdownify }}
        </div>
    </div>
</div>